<div class="container">
    <div class="row">
        <div class="col-lg-4 footer-links">
        </div>
        <div class="col-lg-4 footer-contact ">
            <center>
                <h4>@Resources.Contacto_div.Contacto_titulo</h4>
                <p>
                    @Resources.Contacto_div.Contacto<br>
                    @Resources.Contacto_div.Contacto_2<br>
                    @Resources.Contacto_div.Contacto_5 <br><br>
                    <strong>@Resources.Contacto_div.Contacto_1</strong><br>
                    <strong>@Resources.Contacto_div.Contacto_3</strong><br>
                    <strong>@Resources.Contacto_div.Contacto_4</strong><br>
                </p>
                <div class="social-links mt-3">
                    @*<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>*@
                    <a href="https://www.facebook.com/GeneraD-2105018149808382" class="facebook" target="_blank" rel="noopener"><i class="bx bxl-facebook"></i></a>
                    @*<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                     <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>*@
                </div>
            </center>
        </div>
        <div class="col-lg-4 footer-info">
           
        </div>
    </div>
    
</div>
