@using Generad.Models
@model ContactoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@Resources.Menu.Documental</h2>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">


                <div class="container">
                    <div class="section-title">
                        <h2>Evidencia</h2>
                    </div>
                    @using (Html.BeginForm("Documetal_form", "GeneraD", FormMethod.Post, new { id = "Form1", @class = "php-email-form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group mt-3">
                            @Html.EditorFor(model => model.Email_form, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Contacto.Email_form } })
                            @Html.ValidationMessageFor(model => model.Email_form, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group mt-3">
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "-- Seleccione documento --",
                                    Value = "0",
                                    Selected = true
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Currícula",
                                    Value = "1"
                                });

                                listItems.Add(new SelectListItem
                                {
                                    Text = "Nuevos proyectos",
                                    Value = "2"
                                });
                            }

                            @Html.DropDownListFor(model => model.Tipo_form, listItems, new { @class = "form-control" })
                        </div>
                        <div class="form-group mt-3">
                            @{
                                List<SelectListItem> listItemsSpecf = new List<SelectListItem>();
                                listItemsSpecf.Add(new SelectListItem
                                {
                                    Text = "-- Seleccione documento --",
                                    Value = "0",
                                    Selected = true
                                });

                                listItemsSpecf.Add(new SelectListItem
                                {
                                    Text = "GENERA D, S.A. DE C.V.",
                                    Value = "1"
                                });

                                listItemsSpecf.Add(new SelectListItem
                                {
                                    Text = "SATAREM",
                                    Value = "2"
                                });
                                listItemsSpecf.Add(new SelectListItem
                                {
                                    Text = "Ciudad médica sustentable",
                                    Value = "1"
                                });

                                listItemsSpecf.Add(new SelectListItem
                                {
                                    Text = "Planta WTE sustentable",
                                    Value = "2"
                                });
                                listItemsSpecf.Add(new SelectListItem
                                {
                                    Text = "Hospitales alta especialidad sustentable",
                                    Value = "2"
                                });
                            }



                            @Html.DropDownListFor(model => model.Tipo_form, listItemsSpecf, new { @class = "form-control" })
                        </div>
                        <br />
                        <div class="text-center"><button type="submit">@Resources.Contacto.Boton_form</button></div>
                    }
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
        <div class="container">
            <div class="section-title">
                <h2>Galeria</h2>
            </div>
            @*<div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>*@

            <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA.jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(1).jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(1).jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(2).jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(2).jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(3).jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(3).jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(4).jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(4).jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(5).jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(5).jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(6).jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(6).jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(7).jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(7).jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
                    <div class="portfolio-item">
                        <img src="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(8).jpg" class="img-fluid" />
                        <div class="portfolio-info">

                            <div>
                                <a href="~/Content/img/generad/GALERIA INTEGRACIÓN PROFESIONAL EVIDENCIA(8).jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox" title="Evidencia"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->
