@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@Resources.Menu.Holding</h2>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= clientes privados Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>@Resources.Holding.clientes_privados</h2>
            </div>

            <div class="testimonials-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 video-box">
                                <img src="~/Content/img/generad/HOLDING 05,MEDIACIÓN DE CONFLICTO PENAL,TERMINAL 2 AICM,MÉXICO.jpg" class="img-fluid"/>
                            </div>

                            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                                <div class="icon-box">
                                    <h4 class="title"><a href="">@Resources.Holding.empresas_micro</a></h4>
                                    <p class="description">@Resources.Holding.empresas_micro_1</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 video-box">
                                <img src="~/Content/img/generad/HOLDING 06,SOLUCIÓN ESTRUCTURAL,FACULTAD ARQUITECTURA UNAM,MÉXICO.jpg" class="img-fluid" />
                            </div>

                            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                                <div class="icon-box">
                                    <h4 class="title"><a href="">@Resources.Holding.empresas_pequeñas</a></h4>
                                    <p class="description">@Resources.Holding.empresas_pequeñas_1</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 video-box">
                                <img src="~/Content/img/generad/HOLDING 07,APLICACIÓN DE SISTEMAS DE CALIDAD,DISTRIBUIDOR VIAL ZARAGOZA,MÉXICO.jpg" class="img-fluid" />

                            </div>

                            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                                <div class="icon-box">
                                    <h4 class="title"><a href="">@Resources.Holding.empresas_medianas</a></h4>
                                    <p class="description">@Resources.Holding.empresas_medianas_1</p>
                                </div>

                                <div class="icon-box">
                                    <p class="description">@Resources.Holding.empresas_medianas_2</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 video-box">
                                <img src="~/Content/img/generad/HOLDING 08,DETECCIÓN DE PROBLEMAS EN PLATAFORMAS Y SOLUCIÓN PARA AIR BUS 380,AICM,MÉXICO.jpg" class="img-fluid" />
                            </div>

                            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                                <div class="icon-box">
                                    <h4 class="title"><a href="">@Resources.Holding.empresas_grandes</a></h4>
                                    <p class="description">@Resources.Holding.empresas_grandes_1</p>
                                </div>

                                <div class="icon-box">
                                    <p class="description">@Resources.Holding.empresas_grandes_2</p>
                                    <p class="description">@Resources.Holding.empresas_grandes_3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section><!-- End clientes privados Section -->
    <!-- ======= clientes privados Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>@Resources.Holding.clientes_de_gobiernos</h2>
                <p>@Resources.Holding.clientes_de_gobiernos_1</p>
            </div>

            <div class="testimonials-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                                <div class="icon-box">
                                    <p class="description">@Resources.Holding.clientes_de_gobiernos_2</p>
                                </div>
                            </div>
                            <div class="col-lg-6 video-box">
                                <img src="~/Content/img/generad/HOLDING 18,REESTRUCTURA ECONÓMICA,MÉXICO.jpg" class="img-fluid" />
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
                                <div class="icon-box">
                                    <p class="description">@Resources.Holding.clientes_de_gobiernos_3</p>
                                </div>
                            </div>
                            <div class="col-lg-6 video-box">
                                <img src="~/Content/img/generad/HOLDING 10,DESARROLLO DE INGENIERÍAS,NUEVO SENADO, MÉXICO.jpg" class="img-fluid" />
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                                <div class="icon-box">
                                    <p class="description">@Resources.Holding.clientes_de_gobiernos_4</p>
                                </div>
                            </div>
                            <div class="col-lg-6 video-box">
                                <img src="~/Content/img/generad/HOLDING 11,ENCONTRAR PROBLEMA ACÚSTICO SOLUCIONARLO,SALA NEZAHUALCOYOTL.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section><!-- End clientes privados Section -->
    <!-- ======= Why Us Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>@Resources.Holding.independientes</h2>
            </div>

            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="~/Content/img/generad/HOLDING 15,ASOCIACIÓN IMPERMEABILINTES,MÉXICO.jpg" class="img-fluid" />
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <p class="description">@Resources.Holding.independientes_1</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
</main><!-- End #main -->
