@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown"><span>@Resources.Inicio.Presentacion_subtitulo</span></h2>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">@Resources.Inicio.Presentacion_eslogan</h2>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <a href="" class="btn-get-started animate__animated animate__fadeInUp">@Resources.Inicio.Presentacion_conector</a>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-6">
                        <a href="" class="btn-get-started animate__animated animate__fadeInUp">@Resources.Inicio.Presentacion_llave</a>
                    </div>
                </div>

            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>@Resources.Inicio.Lo_que_hacemos</h2>
                <p>@Resources.Inicio.Lo_que_hacemos_1</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/img/features-2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>@Resources.Inicio.Lo_que_hacemos_2</h3>
                    <p class="fst-italic">
                        @Resources.Inicio.Lo_que_hacemos_3
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/Content/img/strategy.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>@Resources.Inicio.Como_lo_hacemos</h3>
                    <p class="fst-italic">
                        @Resources.Inicio.Como_lo_hacemos_1
                    </p>
                    <p>
                        @Resources.Inicio.Como_lo_hacemos_2
                    </p>
                    <p>
                        @Resources.Inicio.Como_lo_hacemos_3
                    </p>
                    <p>
                        @Resources.Inicio.Como_lo_hacemos_4
                    </p>
                    <p>
                        @Resources.Inicio.Como_lo_hacemos_5
                    </p>
                </div>
            </div>
            <br />
            <div class="section-title">
                <h2>@Resources.Inicio.Areas_de_accion</h2>
            </div>
            <br />
            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/img/cooperacion.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>@Resources.Inicio.Holding</h3>
                    <ul>
                        <li><i class="bi bi-check"></i>@Resources.Inicio.Holding_1</li>
                        <li><i class="bi bi-check"></i>@Resources.Inicio.Holding_2</li>
                        <li><i class="bi bi-check"></i>@Resources.Inicio.Holding_3</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/Content/img/envio.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>@Resources.Inicio.Comercializacion</h3>
                    <p class="fst-italic">
                        @Resources.Inicio.Comercializacion_1
                    </p>
                    <p>
                        @Resources.Inicio.Comercializacion_2
                    </p>
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/img/proceso-creativo.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>@Resources.Inicio.Integracion_personal_1</h3>
                    <p class="fst-italic">
                        @Resources.Inicio.Integracion_personal_1
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End Features Section -->
</main><!-- End #main -->
