
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <div class="row">
                    <img src="~/Content/img/generad/GENERA D,TRAINING,SÓLIDO,MEDIA CARTA,130519.png" style="width: 16%!important;"/>
                    <h2>@Resources.Menu.Integracionpersonal</h2>
                </div>
                
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>@Resources.integracion.desarrollo_de_negocios</h2>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/img/generad/INTEGRACIÓN PROFESIONAL  conocimientos.jpg" class="img-fluid" />
                </div>
                <div class="col-md-7 pt-4">
                    <h3> @Resources.integracion.generales_y_especializados</h3>
                    <p class="">
                        @Resources.integracion.generales_y_especializados_1
                    </p>
                    <p class="">
                        @Resources.integracion.generales_y_especializados_2
                    </p>
                </div>
            </div>
            <br />
            <br />
            <div class="section-title">
                <h2>@Resources.integracion.desarrollo_de_negocios_habilidades</h2>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/Content/img/generad/INTEGRACIÓN PROFESIONAL habilidades.jpg" class="img-fluid" />
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>@Resources.integracion.entrenamiento_y_formacion</h3>
                    <p>
                        @Resources.integracion.entrenamiento_y_formacion_1
                    </p>
                    <p>
                        @Resources.integracion.entrenamiento_y_formacion_2
                    </p>
                </div>
            </div>
            <br />
            <br />
            <div class="section-title">
                <h2>@Resources.integracion.desarrollo_de_negocios_actitudes</h2>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/img/generad/INTEGRACIÓN PROFESIONAL actitudes.jpeg" class="img-fluid" />
                </div>
                <div class="col-md-7 pt-4">
                    <h3>@Resources.integracion.disciplina_institucional_responsabilidad</h3>
                    <p>@Resources.integracion.disciplina_institucional_responsabilidad_1</p>
                    <p>@Resources.integracion.disciplina_institucional_responsabilidad_2</p>
                </div>
            </div>

            <br />
            <br />
            <div class="section-title">
                <h2>@Resources.integracion.formacion_directiva</h2>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/Content/img/generad/FORMACIÓN DIRECTIVA.jpeg" class="img-fluid" />
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>@Resources.integracion.comunicacion_efectiva</h3>
                    <p>
                        @Resources.integracion.comunicacion_efectiva_1
                    </p>
                    <h3>@Resources.integracion.vision_de_negocio</h3>
                    <p>
                        @Resources.integracion.vision_de_negocio_1
                    </p>
                </div>
            </div>

        </div>

        
    </section><!-- End Features Section -->
</main><!-- End #main -->

<style>
    .redondo {
        display: block;
        width: 200px;
        height: 65px;
        border-radius: 180px;
        background: #68A4C4;
    }
</style>
