@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@Resources.Menu.Nosotros</h2>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/img/team.svg" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <h3>@Resources.quienes_somos.Quienes__somos</h3>
                    <p class="fst-italic">
                        @Resources.quienes_somos.Quienes_somos_1
                    </p>
                    <p class="fst-italic">
                        @Resources.quienes_somos.Quienes_somos_2
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_3</li>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_4</li>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_5</li>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_6</li>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_7</li>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_8</li>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_9</li>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_10</li>
                        <li><i class="bi bi-check2-circle"></i>@Resources.quienes_somos.Quienes_somos_11</li>
                    </ul>
                    <p>
                        <strong> @Resources.quienes_somos.Quienes_somos_12 </strong>
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
        <div class="container">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            @*<img src="~/Content/img/generad/NOSOTROS 01,CONSTRUCCIÓN CICLOPISTA MÉXICO 68.jpg" class="img-fluid" alt="">*@

                            <img src="~/Content/img/arquitectura.svg" class="img-fluid" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">@Resources.origenes.Origenes</a></h5>
                            <p class="card-text">@Resources.origenes.Origenes_1</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/img/cerebro.svg" class="img-fluid" />
                            @*<img src="~/Content/img/generad/NOSOTROS 02,CONSTRUCCIÓN,ESCUELAS DE BACHILLERATO.jpg" />*@
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">@Resources.comienzosustentabilidad.sustentabilidad</a></h5>
                            <p class="card-text">@Resources.comienzosustentabilidad.sustentabilidad_1</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            @*<img src="~/Content/img/generad/NOSOTROS 03,CONSTRUCCIÓN,UNIVERSIDAD PEDAGÓGICA NACIONAL,MÉXICO.jpg" />*@
                            @*<img src="assets/img/service-details-3.jpg" alt="...">*@
                            <img src="~/Content/img/top.svg" class="img-fluid" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">@Resources.renacersigloXXI.renacer</a></h5>
                            <p class="card-text">@Resources.renacersigloXXI.renacer_1</p>
                            <p class="card-text">@Resources.renacersigloXXI.renacer_2</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            @*<img src="~/Content/img/generad/NOSOTROS 04,CONSTRUCCIÓN,MEDICINA LA SALLE.jpg" />*@
                            @*<img src="assets/img/service-details-4.jpg" alt="...">*@
                            <img src="~/Content/img/trade.svg" class="img-fluid"/>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">@Resources.unióndefuerzas.uniondefuerza</a></h5>
                            <p class="card-text">@Resources.unióndefuerzas.uniondefuerza_1</p>
                            <p class="card-text">@Resources.unióndefuerzas.uniondefuerza_2</p>
                            <p class="card-text">@Resources.unióndefuerzas.uniondefuerza_3</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/img/objetivo.svg" class="img-fluid" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">@Resources.nuestrosprincipios.nuestrosprincipios_s</a></h5>
                            <p class="card-text">@Resources.nuestrosprincipios.nuestrosprincipios_1</p>
                            <p class="card-text">@Resources.nuestrosprincipios.nuestrosprincipios_2</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/img/adaptation.svg" class="img-fluid" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">@Resources.adaptaciónalcambiolaboral.adaptacion</a></h5>
                            <p class="card-text">@Resources.adaptaciónalcambiolaboral.adaptacion_1</p>
                            <p class="card-text">@Resources.adaptaciónalcambiolaboral.adaptacion_2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Service Details Section -->
    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>@Resources.paraqueexistimos.paraqueexistimos_t</h2>
            </div>

            <div class="testimonials-carousel swiper-container">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <img src="~/Content/img/leadership.svg" class="testimonial-img" />
                        <h3>@Resources.paraqueexistimos.paraqueexistimos_1</h3>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @Resources.paraqueexistimos.paraqueexistimos_2
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="~/Content/img/vision.svg" class="testimonial-img" />
                        <h3>@Resources.paraqueexistimos.paraqueexistimos_3</h3>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @Resources.paraqueexistimos.paraqueexistimos_4
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="~/Content/img/handshake.svg" class="testimonial-img" />
                        <h3>@Resources.paraqueexistimos.paraqueexistimos_5</h3>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @Resources.paraqueexistimos.paraqueexistimos_6
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Ttstimonials Section -->
    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">
            <div class="section-title">
                <h2>@Resources.paraqueexistimos.paraqueexistimos_7</h2>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/img/equipo.svg" class="img-fluid" />
                </div>
                <div class="col-md-7 pt-5">
                    <ul>
                        <li><i class="bi bi-check"></i>@Resources.paraqueexistimos.paraqueexistimos_8</li>
                        <li><i class="bi bi-check"></i>@Resources.paraqueexistimos.paraqueexistimos_9</li>
                        <li><i class="bi bi-check"></i>@Resources.paraqueexistimos.paraqueexistimos_10</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End Features Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
