
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/estilos.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="htbtps://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <link href="~/css/estilos.css" rel="stylesheet" />
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/slick.js"></script>
    <title>Genera-D</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html"><img src="img/GENERA%20D,HOLDING,GOTA%20DE%20AGUA,MEDIA%20CARTA,130519.png" class="tam_logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" pst" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link active" href="@Url.Action("Index", "GeneraD", new { lang = Resources.Menu.lang })">@Resources.Menu.Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Nosotros", "GeneraD", new { lang = Resources.Menu.lang })">@Resources.Menu.Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Holding", "GeneraD", new { lang = Resources.Menu.lang })">@Resources.Menu.Holding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Comercializacion", "GeneraD", new { lang = Resources.Menu.lang })">@Resources.Menu.Comercializacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("IntegracionPersonal", "GeneraD", new { lang = Resources.Menu.lang })">@Resources.Menu.Integracionpersonal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Documental", "GeneraD", new { lang = Resources.Menu.lang })">@Resources.Menu.Documental</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contacto", "GeneraD", new { lang = Resources.Menu.lang })">@Resources.Menu.Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    <body>
        <section class="n_inicio c_prin">

            <div class="caja_texto1">
                <span class="titulo12">Nosotros</span>
                <span class="titulo_nosotros">Objetivo empresarial</span>
            </div>
            <div class="caja_texto5">
                <span class="titulo32">
                    Somos una empresa holding con 54 años de experiencia, undiendo a 23 empresas, en las áreas:
                </span>
                <span class="titulo33">
                    * Legales (de proyectos individuales, de la empresa, comercial y asuntos penales). <br>
                    * Financieros. <br>
                    * Organizacionales.<br>
                    * Ecológicos (sustentabilidad ambiental y económica).<br>
                    * De creación de infraestructura humana (constructoras , supervisoras y auditoras).<br>
                    * De desarrollo de negocio.<br>
                    * De desarrollo y aplicación de tecnologías.<br>
                    * De comercio (importación y exportación). <br>
                    * De desarrollo humano (empresas capacitadoras y de integración profesional). <br>
                    * De investigación (universidades).<br>
                </span>
                <span class="titulo39">Que garantiza “ganar-ganar” a todos los participantes</span>
            </div>

        </section>
        <seccion class="scn1">
            <div class="scnn15">
                <div class="options">
                    <div class="option active">

                        <div class="label">
                            <div class="icon">

                            </div>
                            <div class="info">
                                <div class="main">Origen</div>
                                <div class="sub">
                                    Nuestro origen es constructor con más de
                                    55 millones de metros cuadrados construidos,
                                    supervisados y auditados, fundada por el
                                    Ing. Carlos Suárez Salazar
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="option">

                        <div class="label">
                            <div class="icon">
                                <i class="fas fa-snowflake"></i>
                            </div>
                            <div class="info">
                                <div class="main">Sustentabilidad</div>
                                <div class="sub">A comienzos de los años 90's del siglo pasado, <br> el Ing. Jorge Suárez aumenta un objetivo a la idea <br> de crear un holding: LA SUSTENTABILIDAD como  <br> elemento base de criterio para la toma de decisiones <br> en todos las actividades a realizar</div>
                            </div>
                        </div>
                    </div>
                    <div class="option">

                        <div class="label">
                            <div class="icon">

                            </div>
                            <div class="info">
                                <div class="main">Modelos de negocios</div>
                                <div class="sub">En el incipiente siglo XXI, probamos con <br>"modelos de negocio" exitosos de todo el mundo, <br> y los adecuamos a las condiciones locales del País o <br> Región en donde realizamos los proyectos, teniendo  <br>  un gran éxito económico y laboral gracias a que <br> utilizamos a la transversalidad legal- técnica-económica <br> como elemento indispensable para cumplir los <br> objetivos de cada proyecto</div>
                            </div>
                        </div>
                    </div>
                    <div class="option">

                        <div class="label">
                            <div class="icon">

                            </div>
                            <div class="info">
                                <div class="main">Formación del holding</div>
                                <div class="sub">
                                    con los excelentes resultados obtenidos hasta ese momento, todos los participantes decidimos formar un "frente empresarial", es decir, que cada empresa y profesionista participante ofrezcan "lo mejor que tengan" para beneficiar al mismo cliente. Esto se traduce en que, sin importar el tamaño del proyecto, problema o situación, el cliente, SIEMPRE TENDRÁ LA PARTICIPACIÓN DE LOS MEJORES PROFESIONISTAS cobrando un importe menor al comercial.

                                    Por lo anterior, en 2015 fusionamos las tres empresas fundadoras con las empresas de nuestros asociados cubriendo las áreas técnicas, legales, financieras, económicas y adminisrtativa; formando una sola imagen corporativa concentrada "holding" en GENERA D, S.A.D E C.V.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="option">

                        <div class="label">
                            <div class="icon">

                            </div>
                            <div class="info">
                                <div class="main">Comercializar</div>
                                <div class="sub">Durante 54 años hemos desarrollado una relación comercial exitosa con proveedores y fabricantes, en México, America del Norte, América del Sur, Asia y Europa, lo que se refleja en ofrecer a nuestros clientes, la mejor calidad al mejor precio</div>
                            </div>
                        </div>
                    </div>
                    <div class="option">

                        <div class="label">
                            <div class="icon">

                            </div>
                            <div class="info">
                                <div class="main">Integración profesional</div>
                                <div class="sub">En el siglo pasado la "educación continua laboral o profesional" la llamamos capacitación. Actualmente, el concepto de "mejora contínua personal" para el ambiente laboral o profesional lo</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </seccion>
        <seccion class="scn1">
            <div class="scnn1">
                <div class="testimonial-container">
                    <div class="dk-container">
                        <div class="cd-testimonials-wrapper cd-container">
                            <h2>Testimonials</h2>
                            <ul class="cd-testimonials">
                                <li>
                                    <div class="testimonial-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                                        <div class="cd-author">
                                            <img src="http://placehold.it/350x350/222222/222222" alt="Author image">
                                            <ul class="cd-author-info">
                                                <li>Lorem<strong>Ipsum</strong><br><span></span></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum.</p>
                                        <div class="cd-author">
                                            <img src="http://placehold.it/350x350/222222/222222" alt="Author image">
                                            <ul class="cd-author-info">
                                                <li>Lorem<strong>Ipsum</strong><br><span></span></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum.</p>
                                        <div class="cd-author">
                                            <img src="http://placehold.it/350x350/222222/222222" alt="Author image">
                                            <ul class="cd-author-info">
                                                <li>Lorem<strong>Ipsum</strong><br><span></span></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- cd-testimonials -->
                    </div>
                </div>
            </div>
        </seccion>
        <section class="contacto">
            <div class="c_contacto c_prin">
                <span class="text1">
                    Horario de oficina:
                    <br> lunes a viernes de 9 hrs. a 17 hrs.
                    <br> tiempo del centro de México
                    <span class="text2"> <br> Oficina +525547392178 </span>
                    <br>
                    <span class="text2"> <br>Whatsapp: +525548334915</span>
                    <br>
                    <span class="text2"> <br>asistencia@generad.one</span>

                </span>

            </div>

        </section>
        <section class="footer ">
        </section>
        <script>
    $(".option").click(function(){
   $(".option").removeClass("active");
   $(this).addClass("active");

});
    jQuery(document).ready(function($) {
	//create the slider
	$('.cd-testimonials-wrapper').flexslider({
		selector: ".cd-testimonials > li",
		animation: "slide",
		controlNav: true,
		slideshow: false,
		smoothHeight: true,
		start: function() {
			$('.cd-testimonials').children('li').css({
				'opacity': 1,
				'position': 'relative'
			});
		}
	});
});</script>
    </body>
</html>
